BODY, p, div,ul, li, h1, h2, h3, h4, a
{ 
	background: #FFFFFF;
color: #222a82;

	font-family: Verdana, Arial, Helvetica, sans-serif; 
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

.topads
{
	min-height: 94px;
	text-align: center;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 4px;
}

#idt
{
	font-size: 8px;
	font-family: Verdana;
	text-align: center;

}
.ng
{
	font-size: 9px;
	text-align: center;
}
.ng a
{
	font-size: 9px;
	text-decoration: none;
}

.wh1
{
	font-size: 10px;
	font-weight: bold;
	color: #222a82;

	padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
margin-bottom: 0px;
}

.wh12
{
	font-size: 11px;
	font-weight: bold;
	color: #222a82;

	padding: 4px 4px 4px 4px;
margin: 0px 0px 0px 0px;
margin-bottom: 0px;
}

.mn1h
{
	font-size: 12px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 4px;
}
.mn1d
{
	font-size: 10px;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 0px;
}
.mn1b
{
	font-size: 10px;
	padding-bottom: 4px;

}


table.th1 
{
	background: #5050ae;
	color: #F0F0F0;
	text-color: #F0F0F0;
}

table.th1 th
{
	color=#F0F0F0;
	text-color=#F0F0F0;
	font-size: 22px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.th1 a
{
	background: #5050ae;
	color: #F0F0F0;
	text-color: #F0F0F0;
	text-decoration: none;
}
table.mn th
{
	background-color: #fcdf84;
	align: center;
	color: #222a82;

}
table.mn th a
{
	background-color: #fcdf84;
	align: center;
	color: #222a82;
	
}

table.wi_1 th
{
	background-color: #fcdf84;
	align: center;
	color: #222a82;

}
table.wi_1 th a
{
	background-color: #fcdf84;
	align: center;
	color: #222a82;
	
}

table.wi_2 th
{
	background-color: #fcdf84;
	align: center;
	color: #222a82;

}
table.wi_2 th a
{
	background-color: #fcdf84;
	align: center;
	color: #222a82;
	
}

table.wi_1,table.wi_2
{
	cellpadding: 0px;
	padding: 0px;
	border-collapse: collapse;
}

#npgi
{
	cellpadding: 0px;
cellspacing: 0px;
padding: 0px;
}

#dt { width=80px; }
#pt { width=60px; }
#tt { width=50px; }
#ht { width=60px; }
#wt { width=70px; }
#yt { width=210px;}

td
{
	font-size: 12px;
}
th
{
	font-size: 12px;
	font-weight: bold;
}
.rl
{
	font-size: 14px;
	font-weight: bold;
	
}
.rl li
{
	list-style: none;
	padding: 2px;
	font-size: 14px;
}
.rl2
{
	font-size: 10px;
	padding-left: 0px;
	margin-left: 15px;
	font-weight: normal;
	
}

.rl2 li
{
list-style: circle;
}

.rl a
{
	text-decoration: none;
	padding-left: 0px;
	margin-left: 0px;
}

.rl a:hover
{
		text-weight: bold;
}

.rl2 a
{
	text-decoration: none;
	padding-left: 0px;
	margin-left: 0px;
}

.rl2 a:hover
{
	text-weight: bold;
}

#inf
{
	width: 160px;
	height=115px;
	position: relative;

}
#itemp
{
	font-size: 20px;
	text-align: center;
	padding: 0px 0px 6px 0px;
}	
#itemp a
{
	text-decoration: none;
}
#ipr
{
	font-size: 10px;
	text-align: center;
	padding-top: 5px;
}
#iwind
{
	font-size: 10px;
	text-align: center;
	padding-bottom: 10px;
}


h1
{
	font-size: 20px;
	font-weight: bold;
}

.ml
{
	font-size: 10px;
	font-weight: bold;
}
.ml a
{
	text-decoration: none;
	padding-left: 0px;
	margin-left: 0px;
}
.ml a:hover
{
	text-decoration: underline;
	padding-left: 0px;
	margin-left: 0px;
}
.m1
{
	font-size: 12px;
	width: 99%;
	background-color: #6b6bd0;
	color: #FFFFFF;
	padding: 6px;
	margin-bottom: 20px;
}
.m1 a, .m1 a:visited
{
	background-color: #6b6bd0;
	color: #FFFFFF;
}
tr.wth
{
	background-color: #6b6bd0;
	align: center;
	text-color: #FFFFFF;
	
}
.wth th
{
	color: #FFFFFF;
	font-weight: bold;

}

.wt, .wt td,.wt th
{
border: 1px solid #FFFFFF;
padding: 2px 2px 2px 2px;
}

table.wt tr td
{
       background-color: #EbEbEb;
}



td.tla ul
{
	padding: 2px 2px 2px 2px;
}
td.tla ul, td.tld ul li,  td.tla ul li a
{
	
	text-align: left; 
	align: left;
	list-style: none;
	font-family : Arial,Verdana, sans-serif;
	font-size : 12px;

}
td.tla ul li
{
	padding-top: 4px;
}
